// load the base configuration
//exec default.cfg

// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec realistic.cfg

play ../sound/music/welcomec17.mp3

//
// stuff command line statements
//
stuffcmds

// display the startup level
startupmenu